.bible-header-custom {
  display: grid;
  align-content: center;
  width: fit-content;
  padding: 8px 30px;
  position: absolute;
  top: 55px;
  left: 60px;
  background-color: #df472f;
  color: #000000;
  font-size: 45px;
  border-radius: 55px;
}

.music-slide {
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
}

desc {
  font-size: 40px;
}

.bible_slide {
  display: grid;
  padding: 30px;
  height: 160px;
  border-radius: 40px;
  color: #000000;
  background-color: #dcb185;
}

.bible_slide > span {
  display: none;
}

@keyframes fade-in {
  from {opacity: 0.0}
  to   {opacity: 1.0}
}

@keyframes fade-out {
  from {opacity: 1.0}
  to   {opacity: 0.0}
}

desc, ctt, .music_slide {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
